{% extends 'base.html' %}

{% block content %}
    <div class="auth__menu">
        {% if get_flashed_messages() %}
            <div class="alert__container {{ metadata['alert__container__background'] }}"
                 id="alert__container">
                {% for message in get_flashed_messages() %}
                    <div class="alert__message">{{ message }}</div>
                        <button class="alert__button" onclick="closeButton()">
                            <img src="/static/cross-svgrepo-com.png" alt="">
                        </button>
                {% endfor %}
            </div>
        {% endif %}
        <h2>{% block title %} Вход в систему {% endblock %}</h2>
        <form class="login__form" method="post" action="/login">
            <label for="login">Логин</label>
            <br>
            <input type="text" name="login"
                   placeholder=""
                   value="{{ request.form['login'] }}">
            <br>
            <label for="password">Пароль</label>
            <br>
            <input type="password" name="password"
                   placeholder=""
                   value="{{ request.form['password'] }}">
            <br>
            <button class="auth__button btn"  type="submit">Войти</button>
        </form>
        <a class="form__button btn"  href="{{ url_for('registration') }}">Зарегистрироваться</a>
    </div>
    <script src='/static/close_alert.js'></script>
{% endblock %}